/* * {
	margin: 0;
	padding: 0;
}*/
body {
	background-color: DarkOrchid;
  
	margin: 50px;
}

h1 {
	color: orange;
	font-size: 3em;
	padding: .5em;
	  text-align: center;
}

.para1 p {
	color: red;
	line-height: 2.5em;
	  text-align: center;
}

p {
	color: yellow;
	line-height: 1.5em;
	background-color: orange;
	padding: 30px;
}

ul {
	display: inline-block;
}
ol {
	display: inline-block;
}

li {
	text-align: left;
}

